# Ignorar la carpeta node_modules
node_modules/

# Ignorar la carpeta build
build/

# Ignorar la carpeta dist
dist/

# Ignorar archivos de log
*.log

# Ignorar archivos de entorno
.env

# Ignorar carpetas específicas
mongodb/
